body {
    margin: 0px;
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif ; */
    font-family: 'Merriweather', serif;
    background-color: #FFC107;
}

p{
    line-height: 2;
}

h1 {
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    color: #99154E;
    font-family: 'Gochi Hand', cursive;
}

h2 {
    color: #99154E;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #99154E;
    font-family: 'Merriweather', serif;
    /* font-family: 'Lora', serif; */

}

hr {
    border: dotted #99154E 6px;
    border-bottom: none;
    width: 6%;
    margin: 100px auto;
}

.subtitle {
    color: #99154E;
 
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5rem;
    font-weight: normal;

}

.tulips {
    display: block;
    height: 50%;
    width: 100%;
}

.profile {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-picture {
    border-radius: 50%;
}

.top-container {
    background-color: #FFC107;
    position: relative;
    padding-top: 100px;

}

.middle-container {

    margin: 150px;
}

.bottom-container {
    height: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-design {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
    
}

.skill-backend
{
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 50%;

}

.intro {
    width: 30%;
    margin: auto;
}

.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    font-size: 1rem;
    padding: 20px 0;
}

/* .code-skill-description{
    clear: left;
}

.code-backend-description {
    clear: right;
} */


/* 99154E
FFC93C
FFDDCC
FFBBCC */


/* FFFBDF
C6FFC1
34656D
334443 */